[alias]
	graph = log --all --decorate --oneline --graph

[credential]
	helper = osxkeychain

[core]
	editor = code --wait --new-window
	excludesfile = ~/.gitignore_global
	fsmonitor = true
	ignoreCase = true
	autocrlf = input

[diff]
	tool = vscode-diff

[difftool]
	prompt = false

[difftool "vscode-diff"]
	cmd = code --wait --new-window --diff $LOCAL $REMOTE

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[fetch]
	prune = true

[grep]
	patternType = perl

[init]
	defaultBranch = main

[interactive]
	diffFilter = diff-highlight

[merge]
	tool = vscode-merge

[mergetool "vscode-merge"]
	cmd = code --wait --new-window $MERGED

[pager]
	diff = diff-highlight | $PAGER
	log = diff-highlight | $PAGER
	show = diff-highlight | $PAGER

[pull]
	rebase = true

[user]
	name = Chuancong Gao
	email = chuanconggao@users.noreply.github.com
